[build]
  command = "GATSBY_CPU_COUNT=2 yarn build"
  publish = "public"

[build.environment]
  NODE_VERSION = "22.14.0"
  NPM_VERSION = "10.9.2"
  YARN_VERSION = "1.22.19"
  YARN_FLAGS = "--ignore-engines --network-timeout 100000"

# Redirects and headers are NGINX-style
# For info on headers, see: https://www.netlify.com/docs/headers-and-basic-auth/

# Gatsby already handles routing, so we only need a 404 fallback
[[redirects]]
  from = "/*"
  to = "/404.html"
  status = 404